<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Catégories</h2>
  </div>

  <ul class="sidebar-menu">
    <li class="menu-item">
      <i class="fa-solid fa-shirt"></i>
      <span>Mode & Accessoires</span>
    </li>

    <li class="menu-item">
      <i class="fa-solid fa-glasses"></i>
      <span>Lunettes & Bijoux</span>
    </li>

    <li class="menu-item">
      <i class="fa-solid fa-truck-monster"></i>
      <span>Véhicules & Camions</span>
    </li>

    <li class="menu-item">
      <i class="fa-solid fa-laptop"></i>
      <span>Électronique</span>
    </li>

    <li class="menu-item">
      <i class="fa-solid fa-chair"></i>
      <span>Maison & Décoration</span>
    </li>

    <li class="menu-item">
      <i class="fa-solid fa-box-open"></i>
      <span>Fournitures & Usines</span>
    </li>

    <li class="menu-item">
      <i class="fa-solid fa-bag-shopping"></i>
      <span>Promotions & Offres</span>
    </li>
  </ul>

  <div class="sidebar-footer">
    <button class="btn-contact">
      <i class="fa-solid fa-headset"></i>
      Contacter un fournisseur
    </button>
  </div>
</aside>
